* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-app {
  max-width: 700px;
  width: 100%;
  background-color: #36898f;
  padding: 25px;

}

.app-top{
  text-align: center;
}

.app-bottom {
  margin-top: 37px;
}
h1 {
  font-size: 31px;
  color: black;
  margin-bottom: 24px;
}

.task-add {
  display: flex;
  align-items: center;
  gap: 15px;
}

#task-input {
  flex: 1;
  padding: 12px;
  font-size: 19px;
  border:none;
}

#add-task-btn,
#sub-btn, #submit-button{
  padding: 10px 15px;
  cursor: pointer;
  background-color: #2ae33d;
  border: none;
  color: black;
  font-size: 18px;
  border-radius: 4px;
}

#task-list {
  margin-top: 25px;
}

.task-item {

  padding: 15px;
  border:none;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item p {
  margin: 0;
}

.remove-btn, .edit-btn {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #dc3545;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: none;
  
}
#subscribers-list {
  margin-top: 20px;
}

.subscriber-item {
  
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

.subscriber-item p {
  margin: 0;
}

form {
  margin-top: 20px;
}

form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  margin-bottom: 12px;
}

form button[type="submit"] {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #28a745;
  border: none;
  color: #fff;
  font-size: 16px;
 
}
